<?php foreach($stikers as $key => $stiker){ ?>

		<?php
				$position = 'other';
				switch ($key) {
		            case 'rt':
						$position = 'new';
				        break;
		            case 'rb':
						$position = 'sale';
				        break;
		            case 'lt':
						$position = 'recommend';
				        break;
				    case 'lb':
						$position = 'other';
				        break;
				}
		?>

		<?php if(!$stiker['text_on']){ ?>
			<div class="product__banner product__banner--<?php echo $position ?>">
				<img src="image/<?php echo $stiker['image']; ?>">
			</div>
		<?php } else { ?>
			<div class="product__banner product__banner--<?php echo $position ?>">
				<span style="background-image: url(image/<?php echo $stiker['image']; ?>)"><?php $stiker['title']; ?></span>
			</div>
		<?php } ?>
<?php } ?>