#callback .callback_btn{
    width: 285px;
    outline: none;
    height: 36px;
    border: none;
    background-color: #66ca3b;
    color: #fff;
    border-radius: 15px;
    font-size: 13px;
    border: 1px solid transparent;
    font-weight: 400;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
}

.callback_container_text{
    color: #444444;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 35px 0 35px 0;
}