.callback-popup-btn a{
    width: 156px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
    margin-bottom: 10px;
    margin-bottom: inherit;
    color: #64ca37;
    border: 1px solid #666666;
    margin-top: 10px;
}

.callback-popup-btn a:hover{
    background-color: #64ca37;
}

#Newsletter{
    background-color: #333;
    border-radius: 40px;
    width: 64px;
    height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.original_news_img{
    border: none !important;
}

.news_title{
    text-align: center;
}

.page__footer{
    float: left;
    width: 100%;
}

.news__module__button{
    width: 115px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 40px;
    margin: auto;

    background-color: #66ca3b;
    color: #fff;
    font-size: 13px;
    border: 1px solid transparent;
    font-weight: 400;
    transition: background-color .35s;
}

.news__module__button:hover {
    background-color: #333333;
    color: #fff;
}

.content_full .product-grid__button-wrap{
    transform: translateX(-250px);
}
.content_full .product-list__left{

}