<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-stiker" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
			</div>
			<h1><?php echo $heading_title; ?></h1>
			<ul class="breadcrumb">
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
				<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<?php if ($error_warning) { ?>
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<?php } ?>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
			</div>
			<div class="panel-body">
				<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-stiker" class="form-horizontal">
					<table id="images" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<td class="text-left"><?php echo $entry_title; ?></td>
							<td class="text-left"><?php echo $entry_image; ?></td>
							<td class="text-right"><?php echo $entry_sort_order; ?></td>
							<td class="text-right"><?php echo $entry_sort_order; ?></td>
							<td></td>
						</tr>
						</thead>
						<tbody>
							<?php $image_row = 0; ?>
							<?php foreach ($stiker_images as $stiker_image) { ?>
							<tr id="image-row<?php echo $image_row; ?>">
								<input type="hidden" name="stiker_image[<?php echo $image_row; ?>][stiker_id]" value="<?php echo $stiker_image['stiker_id']; ?>">
								<td class="text-left"><?php foreach ($languages as $language) { ?>
									<div class="input-group pull-left"><span class="input-group-addon"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /> </span>
										<input type="text" name="stiker_image[<?php echo $image_row; ?>][stiker_image_description][<?php echo $language['language_id']; ?>][title]" value="<?php echo isset($stiker_image['stiker_image_description'][$language['language_id']]) ? $stiker_image['stiker_image_description'][$language['language_id']]['title'] : ''; ?>" placeholder="<?php echo $entry_title; ?>" class="form-control" />
									</div>
									<?php if (isset($error_stiker_image[$image_row][$language['language_id']])) { ?>
									<div class="text-danger"><?php echo $error_stiker_image[$image_row][$language['language_id']]; ?></div>
									<?php } ?>
									<?php } ?></td>
								<td class="text-left"><a href="" id="thumb-image<?php echo $image_row; ?>" data-toggle="image" class="img-thumbnail"><img src="<?php echo $stiker_image['thumb']; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a>
									<input type="hidden" name="stiker_image[<?php echo $image_row; ?>][image]" value="<?php echo $stiker_image['image']; ?>" id="input-image<?php echo $image_row; ?>" /></td>
								<td class="text-right" style="width: 10%;"><input type="text" name="stiker_image[<?php echo $image_row; ?>][sort_order]" value="<?php echo $stiker_image['sort_order']; ?>" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>
								<td class="text-left" style="width: 10%;"><input type="checkbox" name="stiker_image[<?php echo $image_row; ?>][text_on]" value="1" class="form-control" <?php if($stiker_image['text_on'] == 1){ ?> checked="checked" <?php } ?>/></td>
								<td class="text-left">
									<button type="button" onclick="$('#image-row<?php echo $image_row; ?>, .tooltip').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger">
										<i class="fa fa-minus-circle"></i>
									</button>
								</td>
							</tr>
							<?php $image_row++; ?>
							<?php } ?>
						</tbody>
						<tfoot>
						<tr>
							<td colspan="4"></td>
							<td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="<?php echo $button_banner_add; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
						</tr>
						</tfoot>
					</table>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript"><!--
        var image_row = <?php echo $image_row; ?>;

        function addImage() {
            html  = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left">';
        <?php foreach ($languages as $language) { ?>
                html += '    <div class="input-group">';
                html += '      <span class="input-group-addon"><img src="view/image/flags/<?php echo $language['image']; ?>" title="<?php echo $language['name']; ?>" /></span><input type="text" name="stiker_image[' + image_row + '][stiker_image_description][<?php echo $language['language_id']; ?>][title]" value="" placeholder="<?php echo $entry_title; ?>" class="form-control" />';
                html += '    </div>';
            <?php } ?>
            html += '  </td>';
            html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="<?php echo $placeholder; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><input type="hidden" name="stiker_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
            html += '  <td class="text-right" style="width: 10%;"><input type="text" name="stiker_image[' + image_row + '][sort_order]" value="" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>';
            html += '  <td class="text-left" style="width: 10%;"><input type="checkbox" name="stiker_image[' + image_row + '][text_on]" value="1" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images tbody').append(html);

            image_row++;
        }
        //--></script></div>
<?php echo $footer; ?>
